In [ ]:
import pandas as pd

In [ ]:
path = 'Dataset .xlsx'

In [ ]:
data = pd.read_excel(path)

In [ ]:
restaurant_counts = data['Restaurant Name'].value_counts()

In [ ]:
print("restaurants name counts :")
print(restaurant_counts)

restaurants name counts :
Cafe Coffee Day             83
Domino's Pizza              79
Subway                      63
Green Chick Chop            51
McDonald's                  48
                            ..
Odeon Social                 1
Johnny Rockets               1
House of Commons             1
HotMess                      1
Walter's Coffee Roastery     1
Name: Restaurant Name, Length: 7446, dtype: int64

In [ ]:
potential_chains = restaurant_counts[restaurant_counts > 1].index

In [ ]:
print("potentail restaurant chains :")
print(potential_chains)

potentail restaurant chains :
Index(['Cafe Coffee Day', 'Domino's Pizza', 'Subway', 'Green Chick Chop',
       'McDonald's', 'Keventers', 'Pizza Hut', 'Giani', 'Baskin Robbins',
       'Barbeque Nation',
       ...
       'Raasta', 'The Pint Room', 'Snacks Point', 'The Dosa King', 'Chokola',
       'Town Hall', 'Halki Aanch', 'Snack Junction', 'Delhi Biryani Hut',
       'Beliram Degchiwala'],
      dtype='object', length=734)

In [ ]:
data['Chain'] = data['Restaurant Name'].apply(lambda x: 'Chain' if data['Restaurant Name'].value_counts()[x] > 1 else 'Not Chain')

In [ ]:
chain_grouped = data.groupby('Chain')

In [ ]:
chain_stats = chain_grouped.agg({'Aggregate rating': 'mean', 'Votes': 'sum'}).reset_index()

In [ ]:
print("Rating and Popularity of different restaurants :")
print(chain_stats)

Rating and Popularity of different restaurants :
       Chain  Aggregate rating   Votes
0      Chain          2.789926  510664
1  Not Chain          2.614109  987981