In [ ]:
import pandas as pd

In [ ]:
path = 'Dataset .xlsx'

In [ ]:
data = pd.read_excel(path)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [ ]:
data['cuisine_combination'] = data['Cuisines'].apply(lambda x: ',' .join(sorted(str(c)for c in x.split(',')))if pd.notna(x) else '')

In [ ]:
most_common_cuisine_combination = data['cuisine_combination'].value_counts().idxmax()

In [ ]:
print(f"the most common combination of cuisines is : {most_common_cuisine_combination}")

the most common combination of cuisines is : North Indian

In [ ]:
average_rating_by_cuisine_combination = data.groupby('cuisine_combination')['Aggregate rating'].mean()

In [ ]:
print('Average Rating for each cuisine combination')
print(average_rating_by_cuisine_combination)

Average Rating for each cuisine combination
cuisine_combination
                                          3.866667
 Afghani, Chinese, Indian,Pakistani       4.100000
 Afghani, Curry, Indian,Pakistani         3.900000
 Afghani, Fast Food,North Indian          3.000000
 Afghani, Hyderabadi, Indian,Pakistani    4.000000
                                            ...
Tibetan                                   0.000000
Turkish                                   3.400000
Turkish Pizza                             4.300000
Vietnamese                                4.050000
World Cuisine                             4.900000
Name: Aggregate rating, Length: 1636, dtype: float64

In [ ]:
highest_avg_rating_combination = average_rating_by_cuisine_combination.idxmax()
highest_avg_rating = average_rating_by_cuisine_combination.max()

In [ ]:
print(f"the cuisine combiantion with the highest average rating is :{highest_avg_rating_combination}")
print(f"the highest average rating is : {highest_avg_rating}")

the cuisine combiantion with the highest average rating is : American, Healthy Food,Mexican
the highest average rating is : 4.9